<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />

<link href="/css/animate.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />

<!--추가 스타일-->

<!--우측 콘텐츠 헤더영역 -->
<form action="/article/create" id="articleForm" method="post">
  <div class="wrapper wrapper-content">
    <div class="ibox-content m-b-sm border-bottom">
      <!-- 게시판유형 -->
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">게시판</label>
            <select
              name="boardTypeCode"
              id="boardTypeCode"
              class="form-control"
            >
              <option value="0">선택</option>
              <option value="1">공지게시판</option>
              <option value="2">자유게시판</option>
            </select>
          </div>
        </div>
      </div>

      <!-- 글제목영역 -->
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="control-label">글제목</label>
            <input type="text" name="title" id="title" class="form-control" />
          </div>
        </div>
      </div>

      <!-- 글내용 입력영역 -->
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="control-label">글내용</label>
            <textarea
              class="form-control"
              name="contents"
              id="contents"
              rows="10"
              cols="5"
            ></textarea>
          </div>
        </div>
      </div>

      <!-- 게시글유형,게시여부,등록자 입력영역 -->
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">게시글유형</label>
            <select
              name="articleTypeCode"
              id="articleTypeCode"
              class="form-control"
            >
              <option value="0">선택</option>
              <option value="1">상단고정게시글</option>
              <option value="2">일반게시글</option>
            </select>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">게시여부</label>
            <select
              name="isDisplayCode"
              id="isDisplayCode"
              class="form-control"
            >
              <option value="9">선택</option>
              <option value="1">게시함</option>
              <option value="0">게시안함</option>
            </select>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">작성자명</label>
            <input
              type="text"
              name="register"
              id="register"
              class="form-control"
            />
          </div>
        </div>
      </div>

      <!-- 저장/목록이동 버튼  -->
      <div class="text-center">
        <button type="submit" class="btn btn-primary">저장</button>
        <a href="/article/list" class="btn btn-info">목록</a>
      </div>
    </div>
  </div>
</form>

<script>
  //모두 렌더링이 완료된 시점에 발생 $(document).ready();
  $(document).ready(function () {
    $('#boardTypeCode').focus();
    console.log('게시글 등록 웹페이지가 웹브라우저에 모두 렌더링 되었습니다. ');
  });

  //유효성검사(Validation Check)
  $('#articleForm').submit(function () {
    //debugger;

    console.log('게시판유형 선택코드:', $('#boardTypeCode').val());

    //게시판 유형값 선택여부 체크
    if ($('#boardTypeCode').val() == '0') {
      alert('게시판 유형을 선택해주세요.');
      $('#boardTypeCode').focus();
      return false;
    }

    //제목 입력요소 유효성 검사
    if ($('#title').val() == '') {
      alert('제목을 선택해주세요.');
      $('#title').focus();
      return false;
    }

    //게시글 유형코드 선택여부 체크
    if ($('#articleTypeCode').val() == '0') {
      alert('게시글 유형을 선택해주세요.');
      $('#articleTypeCode').focus();
      return false;
    }

    //게시여부 선택 체크
    if ($('#isDisplayCode').val() == '9') {
      alert('게시여부를 선택해주세요.');
      $('#isDisplayCode').focus();
      return false;
    }

    //작성자 입력여부 체크
    if ($('#register').val() == '') {
      alert('작성자명을 입력해주세요.');
      $('#register').focus();
      return false;
    }

    //웹브라우저에서 서버로 데이터를 전송 전 클라이언트 디버깅 걸기
    //debugger;

    return true;
  });
</script>
